.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.container {
  display: flex;
  height: 100vh;
}

.panel {
  padding: 20px;
}

.left {
  flex: 1.618;
  background-color: #eee;
}

.right {
  flex: 1;
  background-color: #ddd;
}

.timetable-grid {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.day {
  flex: 1 1 auto;
  padding: 20px;
  background-color: #eee;
  border-bottom: 1px solid #ccc;
  display: flex;
  flex-direction: column;
}


.day:last-child {
  border-bottom: none;
}

.day-widget {
  width: 80px;
  height: 80px;
  background-color: #8ac6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
}

.widget {
  width: 80px;
  height: 80px;
  background-color: #ffb347;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  margin-left: auto;
}