.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.container {
  display: flex;
  height: 100vh;
}

.panel {
  padding: 20px;
}

.left {
  flex: 1.618;
  background-color: #eee;
}

.right {
  flex: 1;
  background-color: #ddd;
}

